

body{
    background-color: #dedede;
}
.pointer{
    cursor: pointer;
}

.bg-light-2{
   background-color: #dadada !important;
}

.rounded-top-8{
    border-radius: 8px 8px 0 0 !important;
}

.rounded-8{
    border-radius: 8px !important;
}